<%= form_with model: @issue, class: "new_issue", url: execution_tasks_path(open_from: @issue.id), method: :post, html: { multipart: true } do |form| %>
  <div class="related_tasks">
    <% @config.each_with_index do |tracker, index| %>
      <div class="box">
        <fieldset class="tracker-card">
          <legend>
            <h1><%= Tracker.find_by(id: tracker['type'])&.name || 'Tipo de Atividade não encontrado' %></h1>
          </legend>
          <%= hidden_field_tag "related_tasks[][type]", tracker['type'] %>

          <% default_subject = "[#{Tracker.find_by(id: tracker['type'])&.name}] #{@issue.subject}" %>
          <% default_description = tracker['template'] %>

          <div class="form-group">
            <%= label_tag "related_tasks[][subject]", "Título", class: "form-label" %>
            <%= text_field_tag "related_tasks[][subject]", default_subject, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag "related_tasks[][assigned_to_id]", "Atribuído para", class: "form-label" %>
            <%= select_tag "related_tasks[][assigned_to_id]", options_for_select(User.all.collect { |u| [u.name, u.id] }, User.current.id), class: "form-select" %>
          </div>

          <div class="form-group">
            <%= label_tag "related_tasks[][estimated_hours]", "Tempo Estimado", class: "form-label" %>
            <%= text_field_tag "related_tasks[][estimated_hours]", nil, class: "form-control", placeholder: "Horas estimadas" %>
          </div>

          <div class="form-group">
            <%= label_tag "related_tasks[][description]", "Descrição", class: "form-label" %>
            <%= text_area_tag "related_tasks[][description]", default_description, class: "form-control wiki-edit", rows: 30, data: { auto_complete: true }, id: "related_tasks_#{index}_description" %>
          </div>
          <%= wikitoolbar_for "related_tasks_#{index}_description" %>

          <div class="form-group">
            <%= label_tag "related_tasks[][attachments]", "Anexos", class: "form-label" %>
            <%= render partial: 'attachments/form', locals: { container: @issue, attachment_param: "related_tasks[][attachments]" } %>
          </div>

        </fieldset>
      </div>
    <% end %>
  </div>
  <br/>
  <%= form.submit "Criar Tarefas", class: "btn btn-primary mt-3" %>
<% end %>

<style>
    .related_tasks {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .tracker-card {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 8px;
        background: #f9f9f9;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-label {
        font-weight: bold;
        display: block;
    }

    .form-control,
    .form-select {
        width: 100%;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

</style>