<div id="tracker-origins">
  <% open_issues = Setting.plugin_multiple_tasks_opener['open_issues'] || {} %>

  <% open_issues.each_with_index do |(key, issue), index| %>
    <div class="tracker-origin" data-index="<%= index %>">
      <h3><%= index + 1 %>ª Configuração de origem:</h3>
      <p>
        <label>Tipo Origem:</label>
        <% selected_tracker_origin = issue['tracker_origin'].to_s.presence || '' %>
        <%= select_tag "settings[open_issues][#{key}][tracker_origin]", options_from_collection_for_select(Tracker.all, :id, :name, selected_tracker_origin), class: "form-control w-90 base-tracker", prompt: 'Selecione', 'data-selected' => selected_tracker_origin %>
      </p>
      <div class="related-trackers">
        <h4>Atividades de Abertura com Base na Origem:</h4>
        <% (issue['related_trackers'] || {}).each_with_index do |(r_key, tracker), r_index| %>
          <div class="related-tracker" data-rindex="<%= r_index %>">
            <p>
              <label>Tipo Abertura:</label>
              <% selected_tracker_type = tracker['type'].to_s.presence || '' %>
              <%= select_tag "settings[open_issues][#{key}][related_trackers][#{r_key}][type]", options_from_collection_for_select(Tracker.all, :id, :name, selected_tracker_type), class: "form-control w-90 related-tracker-select", 'data-selected' => selected_tracker_type %>
            </p>
            <p>
              <label>Template Descrição Abertura:</label>
              <%= text_area_tag "settings[open_issues][#{key}][related_trackers][#{r_key}][template]", tracker['template'].to_s, class: "form-control w-90", placeholder: 'Descrição de abertura', rows: 6 %>
            </p>
            <button type="button" class="remove-related-tracker">Remover Abertura</button>
          </div>
        <% end %>
        <button type="button" class="add-related-tracker">Adicionar Abertura</button>
      </div>
      <button type="button" class="remove-tracker-origin">Remover Origem</button>
    </div>
  <% end %>
  <button type="button" id="add-tracker-origin" class="add-tracker-origin">Adicionar Nova Origem</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const trackerOriginsContainer = document.getElementById("tracker-origins");
        const addTrackerOriginButton = document.getElementById("add-tracker-origin");

        function updateIndexes() {
            document.querySelectorAll(".tracker-origin").forEach((origin, index) => {
                origin.dataset.index = index;
                origin.querySelectorAll("select, textarea, input").forEach(input => {
                    input.name = input.name.replace(/\[open_issues\]\[\d+\]/, `[open_issues][${index}]`);
                });
                origin.querySelectorAll(".related-tracker").forEach((tracker, rIndex) => {
                    tracker.dataset.rindex = rIndex;
                    tracker.querySelectorAll("select, textarea, input").forEach(input => {
                        input.name = input.name.replace(/\[related_trackers\]\[\d+\]/, `[related_trackers][${rIndex}]`);
                    });
                });
            });
        }

        // Função para popular o select de tipo de tarefa (origem)
        function populateTrackerSelect(selectElement, selectedValue = null) {
            const trackers = JSON.parse('<%= raw Tracker.all.to_json %>');
            selectElement.innerHTML = '<option value="">Selecione</option>';
            trackers.forEach(tracker => {
                const option = document.createElement('option');
                option.value = tracker.id;
                option.text = tracker.name;
                if (selectedValue && tracker.id.toString() === selectedValue.toString()) {
                    option.selected = true;
                }
                selectElement.appendChild(option);
            });
        }

        // Função para popular o select de tipo (tracker relacionado)
        function populateRelatedTrackerSelect(selectElement, selectedValue = null) {
            const trackers = JSON.parse('<%= raw Tracker.all.to_json %>');
            selectElement.innerHTML = '<option value="">Selecione</option>';
            trackers.forEach(tracker => {
                const option = document.createElement('option');
                option.value = tracker.id;
                option.text = tracker.name;
                if (selectedValue && tracker.id.toString() === selectedValue.toString()) {
                    option.selected = true;
                }
                selectElement.appendChild(option);
            });
        }

        // Adicionar Origem
        addTrackerOriginButton.addEventListener("click", function () {
            const index = document.querySelectorAll(".tracker-origin").length;
            const newOrigin = document.createElement("div");
            newOrigin.classList.add("tracker-origin");
            newOrigin.dataset.index = index;
            newOrigin.innerHTML = `
        <h3>${index + 1}ª Configuração de origem:</h3>
        <p>
          <label>Tipo Origem:</label>
          <select name="settings[open_issues][${index}][tracker_origin]" class="form-control w-90 base-tracker">
            <option value="">Selecione</option>
          </select>
        </p>
        <div class="related-trackers">
          <h4>Atividades de Abertura com Base na Origem:</h4>
          <button type="button" class="add-related-tracker">Adicionar Abertura</button>
        </div>
        <button type="button" class="remove-tracker-origin">Remover Origem</button>
      `;
            trackerOriginsContainer.insertBefore(newOrigin, addTrackerOriginButton);
            const newSelect = newOrigin.querySelector('.base-tracker');
            populateTrackerSelect(newSelect);
            updateIndexes();
        });

        // Remover Origem
        trackerOriginsContainer.addEventListener("click", function (event) {
            if (event.target.classList.contains("remove-tracker-origin")) {
                event.target.closest(".tracker-origin").remove();
                updateIndexes();
            }
        });

        // Adicionar Abertura
        trackerOriginsContainer.addEventListener("click", function (event) {
            if (event.target.classList.contains("add-related-tracker")) {
                const relatedContainer = event.target.closest(".related-trackers");
                const originIndex = event.target.closest(".tracker-origin").dataset.index;
                const rIndex = relatedContainer.querySelectorAll(".related-tracker").length;
                const newTracker = document.createElement("div");
                newTracker.classList.add("related-tracker");
                newTracker.dataset.rindex = rIndex;
                newTracker.innerHTML = `
          <p>
            <label>Tipo Abertura:</label>
            <select name="settings[open_issues][${originIndex}][related_trackers][${rIndex}][type]" class="form-control w-90 related-tracker-select">
              <option value="">Selecione</option>
            </select>
          </p>
          <p>
            <label>Template Descrição Abertura:</label>
            <textarea rows="6" name="settings[open_issues][${originIndex}][related_trackers][${rIndex}][template]"
              class="form-control w-90" placeholder="Template em para ser usado na abetura das atividades"></textarea>
          </p>
          <button type="button" class="remove-related-tracker">Remover Abertura</button>
        `;
                relatedContainer.insertBefore(newTracker, event.target);
                const newTrackerSelect = newTracker.querySelector('.related-tracker-select');
                populateRelatedTrackerSelect(newTrackerSelect);
                updateIndexes();
            }
        });

        // Remover Tracker Relacionado
        trackerOriginsContainer.addEventListener("click", function (event) {
            if (event.target.classList.contains("remove-related-tracker")) {
                event.target.closest(".related-tracker").remove();
                updateIndexes();
            }
        });

        // Popula os selects existentes ao carregar a página - USE DATA ATTRIBUTE
        document.querySelectorAll('.base-tracker').forEach(select => {
            const selectedValue = select.dataset.selected;
            populateTrackerSelect(select, selectedValue);
        });

        // Popula os selects de tipo de trackers relacionados existentes ao carregar a página
        document.querySelectorAll('.related-tracker-select').forEach(select => {
            const selectedValue = select.dataset.selected;
            populateRelatedTrackerSelect(select, selectedValue);
        });

    });
</script>

<style>
    .remove-related-tracker {
        float: right;
        font-size: 16px;
        color: white;
        background-color: red;
        cursor: pointer;
    }
    .add-related-tracker {
        margin-top: 5px;
        float: right;
        font-size: 16px;
        color: white;
        background-color: green;
        cursor: pointer;
    }
    .remove-tracker-origin{
        margin-top: 5px;
        float: left;
        font-size: 16px;
        color: white;
        background-color: black;
        cursor: pointer;
    }
    .add-tracker-origin {
        margin-top: 15px;
        float: left;
        font-size: 20px;
        color: white;
        background-color: cornflowerblue;
        cursor: pointer;
        width: 100%;
        padding: 19px;
        margin-bottom: 15px;
        height: auto!important;
    }
    .related-tracker {
        border-bottom: solid 1px #d0d0d0;
        padding-bottom: 50px;
    }
    .tracker-origin{
        margin-bottom: 90px;
    }
    .w-90{
        width: 90%!important;
    }
</style>