<h1>Configuração de Geração de Atividades</h1>
<% if Tracker.all.any? %>
  <div id="base-activities">
    <% @settings.each do |config| %>
      <div class="base-activity form-group">
        <div class="field"><strong>Tipo da Tarefa:</strong></div>
        <div class="field">
          <%= select_tag 'base_activity_type[]', options_from_collection_for_select(Tracker.all, :id, :name, config["base_activity_type"]), class: "form-control w-90 base-tracker", prompt: 'Nenhum' %>
          <button type="button" class="btn btn-danger remove-base-activity w-5">×</button>
        </div>
        <fieldset class="fieldset-separator">
          <legend>Templates de Abertura de Atividade:</legend>
          <div class="related-activities">
            <% config["related_activities"].each do |related| %>
              <div class="related-activity form-group">
                <div class="field"><strong>Tipo da Tarefa de Abertura:</strong></div>
                <div class="field">
                  <%= select_tag 'related_activity_type[][]', options_from_collection_for_select(Tracker.all, :id, :name, related["related_activity_type"]), class: "form-control w-90 related-tracker", prompt: 'Nenhum' %>
                  <button type="button" class="btn btn-danger remove-related-activity w-5">×</button>
                </div>
                <div class="field"><strong>Cor:</strong></div>
                <div class="field">
                  <%= color_field_tag 'related_activity_color[][]', related["related_activity_color"], class: "form-control color-picker" %>
                </div>
                <div class="field"><strong>Descrição:</strong></div>
                <div class="field">
                  <%= text_area_tag 'related_activity_description[][]', related["related_activity_description"], class: "form-control description-field", rows: 5 %>
                </div>
              </div>
            <% end %>
          </div>
          <%= link_to "Adicionar Template", "#", class: "btn btn-secondary add-related-activity" %>
        </fieldset>
      </div>
    <% end %>
  </div>

  <%= link_to "Adicionar Configuração", "#", class: "btn btn-primary add-base-activity mt-3" %>
  <br/>
<% else %>
  <p>Não há trackers disponíveis.</p>
<% end %>

<template id="related-activity-template">
  <div class="related-activity form-group">
    <div class="field"><strong>Tipo da Tarefa de Abertura:</strong></div>
    <div class="field">
      <select name="related_activity_type[][]" class="form-control w-90 related-tracker">
        <option value="">Nenhum</option>
        <%= Tracker.all.map { |t| "<option value='#{t.id}'>#{t.name}</option>" }.join.html_safe %>
      </select>
      <button type="button" class="btn btn-danger remove-related-activity w-5">×</button>
    </div>
    <div class="field"><strong>Cor:</strong></div>
    <div class="field">
      <input type="color" name="related_activity_color[][]" class="form-control color-picker">
    </div>
    <div class="field"><strong>Descrição:</strong></div>
    <div class="field">
      <textarea name="related_activity_description[][]" class="form-control description-field" rows="5"></textarea>
    </div>
  </div>
</template>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const trackersOptions = `<%= Tracker.all.map { |t| "<option value='#{t.id}'>#{t.name}</option>" }.join.html_safe %>`;

        function addBaseActivity() {
            var baseActivityContainer = document.getElementById("base-activities");
            var baseActivity = document.createElement("div");
            baseActivity.classList.add("base-activity", "form-group");
            baseActivity.innerHTML = `
      <div class="field"><strong>Tipo da Tarefa:</strong></div>
      <div class="field">
        <select name="base_activity_type[]" class="form-control w-90 base-tracker">
          <option value="">Nenhum</option>
          ${trackersOptions}
        </select>
        <button type="button" class="btn btn-danger remove-base-activity w-5">×</button>
      </div>
      <fieldset class="fieldset-separator">
        <legend>Templates de Abertura de Atividade:</legend>
        <div class="related-activities"></div>
        <a href="#" class="btn btn-secondary add-related-activity">Adicionar Template</a>
      </fieldset>
    `;
            baseActivityContainer.appendChild(baseActivity);
            addBaseActivityEventListeners(baseActivity);
        }

        function addBaseActivityEventListeners(baseActivity) {
            baseActivity.querySelector(".add-related-activity").addEventListener("click", function (e) {
                e.preventDefault();
                var template = document.getElementById("related-activity-template").content.cloneNode(true);
                baseActivity.querySelector(".related-activities").appendChild(template);
            });
            baseActivity.querySelector(".remove-base-activity").addEventListener("click", function (e) {
                e.preventDefault();
                baseActivity.remove();
            });
        }

        document.querySelector(".add-base-activity").addEventListener("click", function (e) {
            e.preventDefault();
            addBaseActivity();
        });

        if (document.querySelectorAll(".base-activity").length === 0) {
            addBaseActivity();
        }
    });
</script>

<style>
    .w-100 {
        width: 100% !important;
        max-width: 100% !important;
    }

    .w-5 {
        width: 5% !important;
        max-width: 5% !important;
    }

    .w-90 {
        width: 90% !important;
        max-width: 90% !important;
    }

    .fieldset-separator {
        border-bottom: 5px solid black;
        margin-bottom: 15px;
    }

    .btn {
        border: none !important;
        color: white !important;
        padding: 10px !important;
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important;
    }

    .btn-primary {
        background-color: #008CBA !important;
        float: right;
    }

    .btn-secondary {
        background-color: #9f569f !important;
        float: right;
    }

    .btn-success {
        background-color: #04AA6D !important;
    }

    .btn-danger {
        background-color: #d9534f !important;
        font-weight: bold;
        padding: 5px 10px !important;
        float: right;
    }

    .is-invalid {
        border: 2px solid red !important;
        background-color: #ffe6e6 !important;
    }
</style>